<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Otros tags de <head> -->
</head>

<body>
    <!-- Tu contenido HTML -->
    <i class="fas fa-bars header__menu"></i>
    <div class="header__search">
        <input class="header__input" placeholder="" />
    </div>
    <!-- Botón de Logout en el Header -->
    <button class="logout-button" onclick="logout()">Logout</button>

    <div class="header__avatar">
        <div class="dropdown">
            <ul class="dropdown__list">
                <li class="dropdown__list-item">
                    <span class="dropdown__icon"></span>
                    <span class="dropdown__title">my profile</span>
                </li>
                <li class="dropdown__list-item">
                    <span class="dropdown__icon"><i class="fas fa-clipboard-list"></i></span>
                    <span class="dropdown__title">my account</span>
                </li>
                <li class="dropdown__list-item">
                    <span class="dropdown__icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="dropdown__title">log out</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Coloca el script al final del body -->
    <script>
        function logout() {
            // 1. Eliminar datos del usuario
            localStorage.removeItem('token'); // Elimina el token de autenticación
            sessionStorage.removeItem('user'); // Elimina los datos del usuario, si los almacenas en sessionStorage
            // 3. Redirigir al usuario a la página de inicio de sesión
            window.location.href = '../../login/LoginScreen/LoginScreen.html'; // Cambia esto según la ruta de tu página de inicio de sesión
        }
    </script>
</body>

</html>