/* Definición de variables */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
}
:root {
  --black: #1a1a1a;
  --white: #fff;
  --gray: #ccc;
  --darkgreen: #18846C;
  --lightbrown: rgb(255, 255, 255);
  --darkblack: rgba(0, 0, 0, 0.8);
  --minRangeValue: 280px;
  --primary-color: #18846C;
  --secondary-color: #00A696;
  --background-color: #f4f4f9;
  --button-color: #18846C;
  --button-hover-color: #145A4A;
}

.upload-container,
#update-medical-info-form,
#add-allergy-form,
#add-medical-condition-form,
#add-hospital-form,
#add-medicine-form { /* Añadido el nuevo formulario aquí */
  background: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; /* Máximo ancho del formulario */
  margin: 20px auto; /* Margen automático para centrar */
}

h1,
h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Estilo para las etiquetas */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--black);
}

/* Estilo para los campos de entrada y selección */
input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: calc(100% - 20px); /* Ancho del campo de entrada y selección */
  padding: 0.75rem;
  margin-bottom: 1.5rem; /* Espacio entre los campos */
  border: 1px solid var(--gray);
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black);
  font-size: 1rem;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo para el texto del placeholder */
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder {
  color: var(--black);
  opacity: 0.7; /* Opacidad del texto del placeholder */
}

/* Estilo para el botón */
button {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--white);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-color);
}

/* Estilo para mensajes de error */
.error {
  color: red; /* Color del texto de error */
  font-size: 0.875em; /* Tamaño del texto de error */
}
