<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ritmo Cardiaco</title>
    <link rel="icon" type="image/jpg" href="../../images/logo.png" />
    <script src="show.js"></script>
    <link rel="stylesheet" href="../../dashboard/Main/Dashboard.css">
    <script src="../../dashboard/UserInfo/GeneralInfo.js"></script>
</head>

<body>
    <div class="grid">
        <header class="header" id="header-container"></header>
        <aside class="sidenav" id="aside-container"></aside>
        <main class="main" id="main">
            <img id="userPhoto" alt="User Photo">
            <p id="fullName"><b>Nombre: </b> </p>
            <p id="gender"><b>Sexo: </b> </p>
            <p id="birthDate"><b>Fecha de nacimiento: </b> </p>
            <p id="email"><b>Correo: </b> </p>
            <p id="phone"><b>Teléfono: </b> </p>
            <p id="address"><b>Dirección: </b> </p>
            <p id="createdAt"><b>Fecha de creación: </b> </P>
            <p><b>Lista de pacientes: </b></p>
            <ul id="patientsList"></ul>
        </main>
        <footer class="footer">
            <p><span class="footer__copyright">&copy;</span> 2023 KeepAnEye</p>
            <p><i class="fas fa-heart footer__icon"></i></p>
        </footer>
    </div>
    <script>
        async function loadAsideContent(containerId) {
            const response = await fetch('../../components/aside/aside.html');
            const asideContent = await response.text();
            document.getElementById(containerId).innerHTML = asideContent;
        }

        async function loadHeaderContent(containerId) {
            const response = await fetch('../../components/header/header.html');
            const headerContent = await response.text();
            document.getElementById(containerId).innerHTML = headerContent;
        }

        loadAsideContent('aside-container');
        loadHeaderContent('header-container');
    </script>
</body>

</html>