@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
}
/* Definición de variables */
:root {
  --primary-color: #18846C;
  --secondary-color: #00A696;
  --background-color: #f4f4f9;
  --border-color: #ddd;
  --text-color: #333;
  --button-bg-color: #ff4c4c;
  --button-bg-hover-color: #ff1c1c;
}



h1 {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
  margin: 20px 0;
}

/* Lista de alergias */
#allergies-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
}

/* Elementos de la lista de alergias */
.allergy-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botón de eliminación */
.delete-btn {
  background-color: var(--button-bg-color);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: var(--button-bg-hover-color);
}
